<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your stats</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/stats.css" %}'/>
</head>
<body>

    <div class="container">

        <div class="header">
            <h2> Hello {{request.session.user_name}} !!! There are your stats! </h2>
            <a href="/wishes"> Dashboard</a>
            <a href="/logout"> Logout </a>
        </div>

        <h4> Total wishes granted so far for all users : {{ granted_total }}</h4>

        <p>Your granted wishes: {{ user_granted }}</p>
        <p>Your pending wishes: {{ user_pending }}</p>

    </div>

    
    
    
</body>
</html>